@font-face {
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-family: Roboto;
}

@font-face {
    src: url(../assets/fonts/GothamBook.ttf);
    font-family: Gotham;
}

@font-face {
    src: url(../assets/fonts/OpenSans-Regular.ttf);
    font-family: OpenSans;
}

@font-face {
    src: url(../assets/fonts/MYRIADPRO-REGULAR.OTF);
    font-family: MyriadPro;
}

:root {
    --primary-color: #11749e;
    --hard-color: #2e85aa;
    --gray-color: #222222;
    --white-color: #ffffff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: Gotham;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

.mt-0 {
    margin-top: 0 !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.position-relative {
    position: relative;
}

.align-items-center {
    align-items: center;
}

.btn {
    border: 0;
    background: transparent;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.white-color {
    color: var(--white-color, #ffffff);
}

.primary-color {
    color: var(--primary-color, #11749e);
}

.gray-color {
    color: var(--gray-color, #222222);
}

.white-bg {
    background-color: var(--white-color, #ffffff);
}

.white-f5-color {
    color: #f5f5f5;
}

.primary-bg {
    background-color: var(--primary-color, #11749e);
}

.hard-bg {
    background-color: var(--hard-color, #2e85aa);
}

.gray-bg {
    background-color: var(--gray-color, #222222);
}

.row-reverse {
    flex-direction: row-reverse;
}

.cut {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 {
    -webkit-line-clamp: 3;
}

.line-4 {
    -webkit-line-clamp: 4;
}

.line-6 {
    -webkit-line-clamp: 6;
}

/* sm */
@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

/* md */
@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

/* lg */
@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

/* xl */
@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1200px
    }
}